ul.top-toolbar{
    display: inline-flex;
    margin: 0px;
    list-style-type: none;
}

ul.top-toolbar li a{
    margin: 10px;
    text-decoration: none;

}

a, a:visited, a:hover, a:active {
    color: inherit;
}
.col-sm-4 {
    width: auto !important;
}

.panel-footer{
    /*width: 143px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}